run = "bun run dev"
entrypoint = "src/pages/index.astro"
hidden = [".config", "node_modules"]
[build]
command = "bun run build:replit"

[env]
NODE_ENV = "development"

[deployment]
run = ["bun", "run", "build:replit"]
outputDirectory = "dist"