---
// Hardcoded imports for all unique event images
// A Finale Echoing (1_ prefix)
import finale1_artifact_wishing_egg from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_artifact_wishing_egg.png';
import finale1_Beginner_Cartridge_Box from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Beginner_Cartridge_Box.jpg';
import finale1_Chess_Piece_of_Skill from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Chess_Piece_of_Skill.jpg';
import finale1_Deluxe_Cartridge_box from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Deluxe_Cartridge_box.jpg';
import finale1_Dorra from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Dorra.jpg';
import finale1_New_Star_Prelude from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_New_Star_Prelude.jpg';
import finale1_Prayer_Beneath_Light from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Prayer_Beneath_Light.jpg';
import finale1_Premium_Cartridge_Box from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Premium_Cartridge_Box.jpg';
import finale1_Proving_Grounds_gift_box from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Proving_Grounds_gift_box.jpg';
import finale1_Sprout_Ticket from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Sprout_Ticket.jpg';
import finale1_Summer_Afternoon_Rain from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Summer_Afternoon_Rain.jpg';
import finale1_Sweet_Times from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Sweet_Times.jpg';
import finale1_Those_with_Ambition from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Those_with_Ambition.jpg';
import finale1_Voyage_Blueprint from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Voyage_Blueprint.jpg';
import finale1_Whispers_of_Decay from '../../assets/images/games/stella-sora/EventShop/A_Finale_Echoing/1_Whispers_of_Decay.jpg';

// Guild Sweet Guild (2_ prefix)
import guild2_Barrage_Game_Cartridge from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Barrage_Game_Cartridge.jpg';
import guild2_Beginner_Cartridge_box from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Beginner_Cartridge_box.jpg';
import guild2_Blossom_Porcelain_cup from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Blossom_Porcelain_cup.jpg';
import guild2_Colossus_Core from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Colossus_Core.jpg';
import guild2_Demon_Bee_Game_Cartridge from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Demon_Bee_Game_Cartridge.jpg';
import guild2_Frenzied_Waltz_Essence from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Frenzied_Waltz_Essence.jpg';
import guild2_Gem from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Gem.jpg';
import guild2_guild_bg1 from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_bg1.jpg';
import guild2_guild_cerulean_ticket from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_cerulean_ticket.jpg';
import guild2_guild_count_cellaring from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_count_cellaring.jpg';
import guild2_guild_count_gift from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_count_gift.jpg';
import guild2_guild_dorra from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_dorra.jpg';
import guild2_guild_fist_of_courage from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_fist_of_courage.jpg';
import guild2_guild_fist_of_courage_melody from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_fist_of_courage_melody.jpg';
import guild2_guild_glass_marble from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_glass_marble.jpg';
import guild2_guild_guild_sweet_guild from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_guild_sweet_guild.jpg';
import guild2_guild_moonlit_companion from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_moonlit_companion.jpg';
import guild2_guild_reflective_photo_capturer from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_reflective_photo_capturer.jpg';
import guild2_guild_sprout_ticket from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_sprout_ticket.jpg';
import guild2_guild_star_emblem_polisher from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_star_emblem_polisher.jpg';
import guild2_guild_trekkers_handwritten_encyclopedia from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_guild_trekkers_handwritten_encyclopedia.jpg';
import guild2_Monolith_Stairs_Pass from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Monolith_Stairs_Pass.jpg';
import guild2_Novice_Disc_Promotion_Box from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Novice_Disc_Promotion_Box.jpg';
import guild2_Novice_Trekker_promotion_box from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Novice_Trekker_promotion_box.jpg';
import guild2_Phantom_Step_Remnant from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Phantom_Step_Remnant.jpg';
import guild2_Starlit_Colored_Glass from '../../assets/images/games/stella-sora/EventShop/Guild_sweet_guild/2_Starlit_Colored_Glass.jpg';

// Ghost Ship (3_ prefix)
import ghost3_bg1event from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_bg1event.jpg';
import ghost3_Beginner_cartridge_box from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Beginner_cartridge_box.png';
import ghost3_Bottled_vigor_soda from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Bottled_vigor_soda.png';
import ghost3_Canned_vigor_soda from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Canned_vigor_soda.png';
import ghost3_cerulean_ticket from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_cerulean_ticket.png';
import ghost3_chilling_wind_spinner from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_chilling_wind_spinner.png';
import ghost3_count_s_cellaring from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_count_s_cellaring.png';
import ghost3_count_s_gift from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_count_s_gift.png';
import ghost3_Daring_Adventure_The_Ghost_Ship_Haunts_the_Deep from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Daring_Adventure!_The_Ghost_Ship_Haunts_the_Deep.png';
import ghost3_demon_bee_game_cartridge from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_demon_bee_game_cartridge.png';
import ghost3_duloos_essence from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_duloos_essence.png';
import ghost3_duloos_soul_remnant from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_duloos_soul_remnant.png';
import ghost3_Dorra from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_dorra.png';
import ghost3_exquisite_blower from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_exquisite_blower.png';
import ghost3_moonlit_companion from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_moonlit_companion.png';
import ghost3_monolith_stairs_pass from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_monolith_stairs_pass.png';
import ghost3_Novice_disc_promotion_box from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Novice_disc_promotion_box.png';
import ghost3_Novice_trekker_promotion_box from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Novice_trekker_promotion_box.png';
import ghost3_Premium_Cartridge_Box from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Premium_cartridge_box.png';
import ghost3_Premium_disc_promotion_box from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Premium_disc_promotion_box.png';
import ghost3_Premium_trekker_promotion_box from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Premium_trekker_promotion_box.png';
import ghost3_radiant_feather_crown from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_radiant_feather_crown.png';
import ghost3_Sprout_Ticket from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_sprout_ticket.png';
import ghost3_Star_emblem_polisher from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Star_emblem_polisher.png';
import ghost3_starlit_colored_glass from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_starlit_colored_glass.png';
import ghost3_Summer_sanctuary from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Summer_sanctuary.png';
import ghost3_Summer_sanctuary_melody from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Summer_sanctuary_melodypng.png';
import ghost3_Squid_rice_cracker from '../../assets/images/games/stella-sora/EventShop/The_ghost_ship_haunts_the_deep/3_Squid_rice_cracker.png';

// Clean mapping object - use NEW filenames with prefixes
const imageMap = {
  // A Finale Echoing - map NEW filenames to unique imports
  '1_artifact_wishing_egg.png': finale1_artifact_wishing_egg,
  '1_Whispers_of_Decay.jpg': finale1_Whispers_of_Decay,
  '1_Dorra.jpg': finale1_Dorra,
  '1_New_Star_Prelude.jpg': finale1_New_Star_Prelude,
  '1_Prayer_Beneath_Light.jpg': finale1_Prayer_Beneath_Light,
  '1_Summer_Afternoon_Rain.jpg': finale1_Summer_Afternoon_Rain,
  '1_Those_with_Ambition.jpg': finale1_Those_with_Ambition,
  '1_Voyage_Blueprint.jpg': finale1_Voyage_Blueprint,
  '1_Sweet_Times.jpg': finale1_Sweet_Times,
  '1_Chess_Piece_of_Skill.jpg': finale1_Chess_Piece_of_Skill,
  '1_Proving_Grounds_gift_box.jpg': finale1_Proving_Grounds_gift_box,
  '1_Beginner_Cartridge_Box.jpg': finale1_Beginner_Cartridge_Box,
  '1_Premium_Cartridge_Box.jpg': finale1_Premium_Cartridge_Box,
  '1_Deluxe_Cartridge_box.jpg': finale1_Deluxe_Cartridge_box,
  '1_Sprout_Ticket.jpg': finale1_Sprout_Ticket,

  // Guild Sweet Guild - map NEW filenames to unique imports
  '2_Barrage_Game_Cartridge.jpg': guild2_Barrage_Game_Cartridge,
  '2_Beginner_Cartridge_box.jpg': guild2_Beginner_Cartridge_box,
  '2_Blossom_Porcelain_cup.jpg': guild2_Blossom_Porcelain_cup,
  '2_Colossus_Core.jpg': guild2_Colossus_Core,
  '2_Demon_Bee_Game_Cartridge.jpg': guild2_Demon_Bee_Game_Cartridge,
  '2_Frenzied_Waltz_Essence.jpg': guild2_Frenzied_Waltz_Essence,
  '2_Gem.jpg': guild2_Gem,
  '2_guild_bg1.jpg': guild2_guild_bg1,
  '2_guild_cerulean_ticket.jpg': guild2_guild_cerulean_ticket,
  '2_guild_count_cellaring.jpg': guild2_guild_count_cellaring,
  '2_guild_count_gift.jpg': guild2_guild_count_gift,
  '2_guild_dorra.jpg': guild2_guild_dorra,
  '2_guild_fist_of_courage.jpg': guild2_guild_fist_of_courage,
  '2_guild_fist_of_courage_melody.jpg': guild2_guild_fist_of_courage_melody,
  '2_guild_glass_marble.jpg': guild2_guild_glass_marble,
  '2_guild_guild_sweet_guild.jpg': guild2_guild_guild_sweet_guild,
  '2_guild_moonlit_companion.jpg': guild2_guild_moonlit_companion,
  '2_guild_reflective_photo_capturer.jpg': guild2_guild_reflective_photo_capturer,
  '2_guild_sprout_ticket.jpg': guild2_guild_sprout_ticket,
  '2_guild_star_emblem_polisher.jpg': guild2_guild_star_emblem_polisher,
  '2_guild_trekkers_handwritten_encyclopedia.jpg': guild2_guild_trekkers_handwritten_encyclopedia,
  '2_Monolith_Stairs_Pass.jpg': guild2_Monolith_Stairs_Pass,
  '2_Novice_Disc_Promotion_Box.jpg': guild2_Novice_Disc_Promotion_Box,
  '2_Novice_Trekker_promotion_box.jpg': guild2_Novice_Trekker_promotion_box,
  '2_Phantom_Step_Remnant.jpg': guild2_Phantom_Step_Remnant,
  '2_Starlit_Colored_Glass.jpg': guild2_Starlit_Colored_Glass,

  // Ghost Ship - map NEW filenames to unique imports
  '3_bg1event.jpg': ghost3_bg1event,
  '3_Beginner_cartridge_box.png': ghost3_Beginner_cartridge_box,
  '3_Bottled_vigor_soda.png': ghost3_Bottled_vigor_soda,
  '3_Canned_vigor_soda.png': ghost3_Canned_vigor_soda,
  '3_cerulean_ticket.png': ghost3_cerulean_ticket,
  '3_chilling_wind_spinner.png': ghost3_chilling_wind_spinner,
  '3_count_s_cellaring.png': ghost3_count_s_cellaring,
  '3_count_s_gift.jpg': ghost3_count_s_gift,
  '3_Daring_Adventure_The_Ghost_Ship_Haunts_the_Deep.png':
    ghost3_Daring_Adventure_The_Ghost_Ship_Haunts_the_Deep,
  '3_demon_bee_game_cartridge.png': ghost3_demon_bee_game_cartridge,
  '3_duloos_essence.png': ghost3_duloos_essence,
  '3_duloos_soul_remnant.png': ghost3_duloos_soul_remnant,
  '3_dorra.png': ghost3_Dorra,
  '3_exquisite_blower.png': ghost3_exquisite_blower,
  '3_moonlit_companion.png': ghost3_moonlit_companion,
  '3_monolith_stairs_pass.png': ghost3_monolith_stairs_pass,
  '3_Novice_disc_promotion_box.png': ghost3_Novice_disc_promotion_box,
  '3_Novice_trekker_promotion_box.png': ghost3_Novice_trekker_promotion_box,
  '3_Premium_cartridge_box.png': ghost3_Premium_Cartridge_Box,
  '3_Premium_disc_promotion_box.png': ghost3_Premium_disc_promotion_box,
  '3_Premium_trekker_promotion_box.png': ghost3_Premium_trekker_promotion_box,
  '3_radiant_feather_crown.png': ghost3_radiant_feather_crown,
  '3_sprout_ticket.png': ghost3_Sprout_Ticket,
  '3_Star_emblem_polisher.png': ghost3_Star_emblem_polisher,
  '3_starlit_colored_glass.png': ghost3_starlit_colored_glass,
  '3_Summer_sanctuary.png': ghost3_Summer_sanctuary,
  '3_Summer_sanctuary_melodypng.png': ghost3_Summer_sanctuary_melody,
  '3_Squid_rice_cracker.png': ghost3_Squid_rice_cracker,
} as const;

export interface Props {
  imageSrc: string;
  alt: string;
  width?: number;
  height?: number;
  useBackground?: boolean;
  isReward?: boolean;
  eventType?: string;
}

const {
  imageSrc,
  alt,
  width = 400,
  height = 300,
  useBackground = false,
  isReward = false,
  eventType = '',
} = Astro.props;

// Get the imported image using original filename or fallback
const image = imageMap[imageSrc as keyof typeof imageMap] || finale1_Dorra;
const imageSrcFinal = image.src;
---

{
  useBackground ? (
    <div
      class="ss-shop-event-image ss-shop-event-bg-image"
      style={`background-image: url(${imageSrcFinal});`}
    >
      <div class="bg-image-overlay" />
      <div class="bg-image-content">
        <h3>{alt}</h3>
      </div>
    </div>
  ) : (
    <div class={`ss-shop-event-image ${isReward ? 'reward-image' : ''}`}>
      <img
        src={imageSrcFinal}
        alt={alt}
        width={isReward ? 80 : width}
        height={isReward ? 80 : height}
        loading="lazy"
        style={isReward ? 'object-fit: cover; width: 80px; height: 80px;' : ''}
      />
    </div>
  )
}
