---
// Star Savior Journey Events Database - Redirect to events page
---
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0;url=/guides/star-savior/journey/events/" />
  </head>
  <body>
    <p>Redirecting to <a href="/guides/star-savior/journey/events/">Journey Event Choices</a>...</p>
  </body>
</html>
